<h1>Tokenizar Tarjeta y Generar Cargo</h1>
<%= form_tag('/checkouts/charge', id: 'card-form') do %>
  <span class="card-errors"></span>
  <div class="form-row">
    <label>
      <span>Cargo en Centavos</span>
      <input type="text" size="10" name="chargeInCents"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Nombre del tarjetahabiente</span>
      <input type="text" size="20" data-conekta="card[name]"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Número de tarjeta de crédito</span>
      <input type="text" size="20" data-conekta="card[number]"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-conekta="card[cvc]"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Fecha de expiración (MM/AAAA)</span>
      <input type="text" size="2" data-conekta="card[exp_month]"/>
    </label>
    <span>/</span>
    <input type="text" size="4" data-conekta="card[exp_year]"/>
  </div>
  <button type="submit">Pagar ahora!</button>
  <% end %>
